//@import "vars";



/* >>>>>> NAV BAR <<<<<< */
/* >>>>>> NAV BAR <<<<<< */
/* >>>>>> NAV BAR <<<<<< */
//#navbar_top {
    
    
    // .container {
    //     .navbar-brand {
    //         font-size: 1.55rem;
    //     }
    //     .navbar-collapse {
    //         .navbar-nav {
    //             margin-left: auto;
    //             margin-bottom: 0;
    //             .nav-item:not(:first-child) {
    //                 margin-left: 2rem;
    //             }
    //         }
    //     }
    // }
//}

/* >>>>>> HOME-TOP-SECTION <<<<<< */
/* >>>>>> HOME-TOP-SECTION <<<<<< */
/* >>>>>> HOME-TOP-SECTION <<<<<< */
// .header-content {
    
    
//     .home-top-section {
//         background-image: url("~@/assets/my_profil.jpg");
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center ;
//         position: relative;
//         &:before {
//             content: "";
//             position: absolute;
//             width: 100%;
//             top: 0;
//             left: 0;
//             right: 0;
//             bottom: 0;
//             background: rgba(0,0,0,.7);
//         }

//         .container {
//             .row-type-writter {
//                 min-height: 750px;
//                 justify-content: center;
//                 align-items: center;
//                 .col-12 {
//                     .animated-presentation {
//                         position: relative;
//                         display: flex;
//                         justify-content: center;
//                         #typewriter {
//                             color: $white-lg;
//                             font-size: 2rem;
//                             margin: 0;
//                             font-family: "Courier New";
//                             &:after {
//                                 content: "|";
//                                 -webkit-animation: blink 500ms linear infinite alternate;
//                                         animation: blink 500ms linear infinite alternate;
//                             }
//                             .var-highlight {
//                                 color: $var-hl;
//                             }
//                             .object-highlight {
//                                 color: $object-hl;
//                             }
//                             .key-highlight {
//                                 color: $key-hl;
//                             }
//                             .string-highlight {
//                                 color: $string-hl;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @-webkit-keyframes blink {
//     0% {
//       opacity: 0;
//     }
//     100% {
//       opacity: 1;
//     }
// }
// @keyframes blink {
//     0% {
//       opacity: 0;
//     }
//     100% {
//       opacity: 1;
//     }
// }




/* >>>>>> MEDIA QUERY <<<<<< */
/* >>>>>> MEDIA QUERY <<<<<< */
/* >>>>>> MEDIA QUERY <<<<<< */
