/* >>>>>> COLORS  <<<<<< */
/* >>>>>> COLORS  <<<<<< */
/* >>>>>> COLORS  <<<<<< */

// // GENERAL COLORS
// $green-lg:  #bac964;
// $white-lg:  #c7c7c7;

// $dark:      #242424;
// // TYPE WRITTER COLORS
// $var-hl:    #ddca7e;
// $object-hl: #62758f; 
// $key-hl:    #736272;
// $string-hl: #fd955a;