<template>
	<div id="app">
		<div id="nav">
			
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
				<div class="container-xl">
					<a href="/" class="navbar-brand">Container XL</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarsExample07XL">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<router-link to="/" class="nav-link">Home</router-link>
							</li>
							<li class="nav-item">
								<router-link to="/about" class="nav-link">About</router-link>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			
		</div>
		<router-view/>
	</div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
